name: data8
# This is the standard conda configuration file. Use this file to list
# the conda packages that you need installed in your environment.
channels:
  - conda-forge

dependencies:
  # Items required for basic level functionality
  - gh-scoped-creds==4.1
  - git==2.49.0
  - jupyter-archive==3.4.0
  - jupyter-collaboration==4.2.0
  - jupyter-offlinenotebook==0.3.1
  - jupyter-resource-usage==1.1.1
  - jupyter-server-proxy==4.4.0
  - jupyter_server==2.16.0
  - jupyterhub==5.3.0
  - jupyterlab==4.5.0
  - jupyterlab-git==0.51.1
  - jupyterlab_rise==0.43.1
  - jupytext==1.17.1
  - nbgitpuller==1.2.2
  - notebook==7.5.0
  - otter-grader==6.1.3
  - wrapt==1.17.3
  - pip==25.1.1
  - python==3.11.*

  # data8
  - attrs==25.3.0
  # [DH-603] Install datascience package from conda forge 
  - datascience==0.18.1
  - folium==0.19.6
  - ipykernel==6.29.5
  - ipympl==0.9.7
  - ipywidgets==8.1.7
  - jupyter-syncthing-proxy==1.0.3
  - matplotlib==3.10.3
  - nbclassic==1.3.1
  - pandas==2.2.3
  - scipy==1.15.2
  - seaborn==0.13.2
  - statsmodels==0.14.4
  - syncthing==1.29.6
  - traitlets=5.14.3

  # Items not in conda forge
  - pip:
    - jupyter-tree-download==1.0.1
  # https://github.com/berkeley-dsep-infra/datahub/issues/7669
    - jupytutor==0.2.1
  # Export notebooks as PDFs with Chrome
    - nb2pdf==0.6.2
    - nbpdfexport==0.2.1
  # Enable webpdf export DH-325
    - nbconvert[webpdf]==7.16.6
    - git-credential-helpers==0.2
  # [DH-418] okpy 1.18.1 is not compatibile with otter-grader 6.0.4 because they require conflicting versions of requests
  #  - okpy==1.18.1
    - git+https://github.com/shaneknapp/python-popularity-contest.git@add-error-handling
